header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #009879;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 5px;
}

.pagination button:hover {
  background-color: #007961;
}

.pagination button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.pagination button.active {
  background-color: blue;
  font-weight: bold;
  border: 2px solid #000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.pagination .rows-per-page {
  display: flex;
  align-items: center;
  margin-bottom: 1rem; 
}

.pagination .rows-per-page label {
  margin-top: 10px;
  margin-right: 0.5rem;
  font-size: 1.2rem;
}

.pagination .rows-per-page select {
  margin-top: 15px;
  padding: 0.25rem 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}